@charset "UTF-8";

img[alt][longdesc] {
	mask: url("../../img/hatemiletoall/universal_access.svg#maskid");
	mask-repeat: no-repeat;
	mask-size: cover;
	mask-image: url("../../img/hatemiletoall/universal_access.png");
	mask-repeat: no-repeat;
	mask-size: cover;
}

img[alt][longdesc]:hover {
	mask: none;
	mask-image: none;
}
